@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;600&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background: #222435;
    font-family: 'Roboto', sans-serif ;
}

h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;
}

*:focus{
    outline: none;
}
form{
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin:30px auto;
    margin-bottom: 60px;
    border-radius: 10px;
    
}

input{
    display: flex;
    width: 100%;
    height: 60px;
    background: #2d3046;
    border: none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}

button.add{
    position: absolute;
    top: 0;
    right: 0;
    background: #363b65;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    height: 61px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.add:hover{
    color: white;
    background: #363f88;
}

.listatarefas{
    display: flex;
    color: white;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}
.item{
    display:flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.item:hover{
    background: #151627;
}

.item span{
    text-align: start;
    width: 100%;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
}

.itemcompleto{
    display: flex;
    justify-content: space-between;
    border: 1px solid #1e1f2e;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.4;
}

.itemcompleto span{
    text-align: start;
    width: 100%;
    color: #4d506e;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
}

button.del{
    background: none;
    border:none;
    padding: 15px;
    cursor: pointer;
    color:#4d506e;
}

button.del:hover{
    border: none;
    background: #f2285e;
    color: white;
    padding: 15px;
    cursor: pointer;
}

button.deleteAll{
    border: 1px solid #f2285e;
    background: none;
    padding: 15px;
    color: #f2285e;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}

button.deleteAll:hover{
    background: #f2285e;
    color: white;
    cursor: pointer;
}

.icone-central{
    max-width:100% ;
}

footer{
    font-family: 'Roboto';
    color: #363b65;
    text-align: center;
    margin-top: 90px;
}

@media screen and (max-width:900px) {
    form{
        width: 100%;
    }
    .listatarefas{
        width: 100%;;
    }
    
}